backtransferencias/src/main/mule/backtransferencias.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d6adb1f1-7a54-490b-9388-6cabbba2bc90" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4cc443cc-a018-476b-9412-b1b66014957c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="LIGAdequito00" database="banksgb" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="efc4df88-99d2-4dd9-aeb7-74e7bcc74150" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="87b2cca7-8b3f-47de-87cc-703ee4e54411">
		<http:request-connection host="swiftcodesapi.com"/>
	</http:request-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="d5ee9655-3c28-4033-aaa1-b65417eaac28" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="LIGAdequito00" database="banco" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="9e6b58c0-1733-418d-ab49-c333cdfc6cfa" basePath="/bancos" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<db:config name="moscu" doc:name="Database Config" doc:id="5fe583bd-8474-4ae6-ad78-543583349464" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="LIGAdequito00" database="bankmoscu" />
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="1bc95ca3-8be6-439f-8cf0-aa75896980ec" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="belagroprombank" />
	</db:config>
	<db:config name="banco3" doc:name="Database Config" doc:id="74e9bf2e-714b-42a4-bd51-98789f33d0d2" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="LIGAdequito00" database="belagroprombank" />
	</db:config>
	<flow name="backtransferenciasFlow1" doc:id="9f99a6c3-7e8b-4b61-bd59-65d3a51d5fe7" >
		<http:listener doc:name="Listener" doc:id="88906752-16d5-40c8-b4a3-a0ae34070b1f" config-ref="HTTP_Listener_config" path="/loggin" outputMimeType="application/json">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "*",
	"Access-Control-Allow-Headers" : "Content-Type, Accept"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<db:select doc:name="Select" doc:id="1b7671ec-34c2-4f4d-80c3-ab79c9896a10" config-ref="Database_Config1">
			<db:sql ><![CDATA[SELECT idUsuario FROM usuario where correo = :correo AND contra = :contra]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"correo":attributes.queryParams."correo","contra":attributes.queryParams."contra"}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="406a2631-c034-4a9d-944b-e48e1405a961" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="backtransferenciasFlow2" doc:id="d4542859-e67a-4ecf-add8-b08bc2bd4d47" >
		<http:listener doc:name="ListenerTockeni" doc:id="e71bc88b-e3d7-4b41-add5-7f6c3cd01b23" config-ref="HTTP_Listener_config" path="/tockenizar" outputMimeType="application/json">
			<http:response>
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "*",
	"Access-Control-Allow-Headers" : "Content-Type, Accept"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<java:invoke-static method="holaMundo(java.lang.String)" doc:name="Invoke static" doc:id="f6663fd7-0299-4484-bf48-58b021f0d4a6" class="com.demo.tockenGenerate" outputMimeType="application/json">
			<java:args ><![CDATA[#[{correo : attributes.queryParams."correo"}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Transform Message" doc:id="c13a8c10-aa9c-4659-bd72-4458578ca564" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="backtransferenciasFlow3" doc:id="12f1e156-a2b2-43a2-b2c2-656733493762" >
		<http:listener doc:name="ListenerBancos" doc:id="62e1a96b-b5c2-4bf0-81c8-fc3a737b6161" config-ref="HTTP_Listener_config" path="/bancos" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "*",
	"Access-Control-Allow-Headers" : "Content-Type, Accept"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<http:request method="GET" doc:name="Request22" doc:id="2610fd13-1ea9-4ea1-b6f2-7b025638843b" config-ref="HTTP_Request_configuration" path="/v1/banks/">
			<http:headers ><![CDATA[#[output application/java
---
{
	"x-api-key" : "sk_e8d7043608b4408ebec00e13ba02b0aba726baf51ace9fae1e251f14b3d0930a",
	"Accept" : "application/json"
}]]]></http:headers>
		</http:request>
	</flow>
	<flow name="backtransferenciasTransferenciasBancarias" doc:id="1c451a55-2ef4-4ec4-8c93-f8b024bacfce" >
		<http:listener doc:name="ListenerTransferencias" doc:id="01c78ce3-2596-4c1d-b5dc-27a19dab4fe1" config-ref="HTTP_Listener_config" path="/transferencias_bancarias" outputMimeType="application/json" allowedMethods="POST">
			<repeatable-in-memory-stream />
			<http:response>
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, POST, PUT, DELETE, OPTIONS, HEAD",
	"Content-Type" : "application/json",
	"Access-Control-Allow-Headers" : "origin, content-type, accept, authorization",
	"Access-Control-Request-Method" : "*",
	"Access-Control-Allow-Credentials" : "true",
	"Access-Control-Max-Age" : "1209600"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<choice doc:name="Choice" doc:id="a447bbcb-df26-4696-ac19-176fb51b2c43">
			<when expression="payload.receptor.nombreInstitucion == &quot;'BANK SGB' PJSC&quot;">
				<set-variable value="#[payload.monto]" doc:name="Set Variable" doc:id="6ac703f6-06bf-485e-8770-ce397c19bfc4" variableName="monto" />
				<set-variable value="#[payload.receptor]" doc:name="Set Variable" doc:id="0455261b-7634-4747-9601-b63b6c549ddb" variableName="idCuenta" />
				<set-variable value="#[payload.fecha]" doc:name="Set Variable" doc:id="7aacf9d4-2c7f-40bd-89fc-3b5bdcf6fb6f" variableName="fecha" />
				<set-variable value="#[payload.hora]" doc:name="Set Variable" doc:id="f1e88f0f-c0c2-46da-837c-791967a0791c" variableName="hora" />
				<set-variable value="#[payload.cuenta.usuario.idUsuario]" doc:name="Set Variable" doc:id="b074cbf2-aa6b-4335-a59e-379c08dd86b1" variableName="idUser" />
				<set-variable value="#[payload.receptor.numeroCuenta]" doc:name="Set Variable" doc:id="abdb9e66-7046-44fb-b63c-cf7ae029c6d0" variableName="numeroCuenta" />
				<db:insert doc:name="Insert" doc:id="32e1f6d7-4c2a-4270-acc7-25df6e5b1a81" config-ref="Database_Config1" autoGenerateKeys="true">
									<db:sql><![CDATA[INSERT INTO informacionremitente(nombreInstitucion,tipoCuenta,numeroDocumento,numeroCuenta,nombre,correo)
VALUES (:nombreInstitucion,:tipoCuenta,:numeroDocumento,:numeroCuenta,:nombre,:correo)
]]></db:sql>
									<db:input-parameters><![CDATA[#[{
	nombreInstitucion : payload.receptor.nombreInstitucion,
	tipoCuenta:payload.receptor.tipoCuenta,
	numeroDocumento:payload.receptor.numeroDocumento,
	numeroCuenta:payload.receptor.numeroCuenta,
	nombre:payload.receptor.nombre,
	correo:payload.receptor.correo
}]]]></db:input-parameters>
								</db:insert>
				<set-variable value="#[payload.generatedKeys[0]]" doc:name="Set Variable" doc:id="22a4f3c5-9359-466c-9191-529151356a71" variableName="lastGenerate" />
				<db:insert doc:name="Insert" doc:id="03ed6a04-4495-4016-87e6-96a5087b1edd" config-ref="Database_Config1">
									<db:sql><![CDATA[INSERT INTO transaccion(fecha, hora, monto,nombrebancoRemitente, fk_remitente,fk_cuenta)
VALUES (:fecha,:hora,:monto, 'BancoPrincipal', :remitente_fk,(Select idCuenta from cuenta where fk_user = :tipoCuentaVar))]]></db:sql>
									<db:input-parameters><![CDATA[#[{
	monto : vars.monto,
	tipoCuentaVar: vars.idUser,
	remitente_fk: vars.lastGenerate,
	fecha: vars.fecha,
	hora : vars.hora,
}]]]></db:input-parameters>
								</db:insert>
				<db:update doc:name="Update" doc:id="45ff0a56-3231-4d27-b4a9-14a556698685" config-ref="Database_Config1" transactionalAction="NOT_SUPPORTED">
					<db:sql><![CDATA[Update cuenta SET monto = monto-:monto22 WHERE fk_user = :tipoCuentaVar;]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	tipoCuentaVar: vars.idUser,
	monto22 : vars.monto
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Transform Message" doc:id="15296f4c-481c-41bb-9ac2-7b3c141e9a36">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
									</ee:message>
								</ee:transform>
				<db:update doc:name="Update" doc:id="8750d5a9-1355-49ac-8ce6-012353ff0fd1" config-ref="Database_Config">
					<db:sql><![CDATA[Update cuenta SET monto = monto+:montos WHERE numeroCuenta = :numeroCuenta;]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	numeroCuenta:vars.numeroCuenta,
	montos : vars.monto
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Transform Message" doc:id="ccfdb112-2fda-40a7-80d1-552d24a3d82d">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				
				
			</when >
			<when expression="payload.receptor.nombreInstitucion == &quot;'BANK MOSCOW-MINSK' JSC&quot;">
				<set-variable value="#[payload.monto]" doc:name="Copy_of_Set Variable" doc:id="7179ba66-f9d8-4450-a6fc-95642978de77" variableName="monto" />
				<set-variable value="#[payload.receptor]" doc:name="Copy_of_Set Variable" doc:id="599fb5f5-aa79-4bf9-a670-ce66bbc0f801" variableName="idCuenta" />
				<set-variable value="#[payload.fecha]" doc:name="Copy_of_Set Variable" doc:id="54c85845-8812-4c63-8d01-d9a5b11c4479" variableName="fecha" />
				<set-variable value="#[payload.hora]" doc:name="Copy_of_Set Variable" doc:id="1edeaa9d-97a0-4cff-8dea-8107e38729e1" variableName="hora" />
				<set-variable value="#[payload.cuenta.usuario.idUsuario]" doc:name="Copy_of_Set Variable" doc:id="3f5f36b4-7ee7-4003-ad5b-5ca4aab2f08c" variableName="idUser" />
				<set-variable value="#[payload.receptor.numeroCuenta]" doc:name="Copy_of_Set Variable" doc:id="33fa0738-8baa-413c-b062-5b3a3e36b106" variableName="numeroCuenta" />
				<db:insert doc:name="Copy_of_Insert" doc:id="9e7ce722-39e3-4925-9422-08625eabff8b" config-ref="Database_Config1" autoGenerateKeys="true" >
					<db:sql ><![CDATA[INSERT INTO informacionremitente(nombreInstitucion,tipoCuenta,numeroDocumento,numeroCuenta,nombre,correo)
VALUES (:nombreInstitucion,:tipoCuenta,:numeroDocumento,:numeroCuenta,:nombre,:correo)
]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	nombreInstitucion : payload.receptor.nombreInstitucion,
	tipoCuenta:payload.receptor.tipoCuenta,
	numeroDocumento:payload.receptor.numeroDocumento,
	numeroCuenta:payload.receptor.numeroCuenta,
	nombre:payload.receptor.nombre,
	correo:payload.receptor.correo
}]]]></db:input-parameters>
				</db:insert>
				<set-variable value="#[payload.generatedKeys[0]]" doc:name="Copy_of_Set Variable" doc:id="8f4976b9-8cf8-4899-96bf-2b7d2f4b17d1" variableName="lastGenerate" />
				<db:insert doc:name="Copy_of_Insert" doc:id="9ac505ae-6855-495a-9aca-b8e15c121c8a" config-ref="Database_Config1" >
					<db:sql ><![CDATA[INSERT INTO transaccion(fecha, hora, monto,nombrebancoRemitente, fk_remitente,fk_cuenta)
VALUES (:fecha,:hora,:monto, 'BancoPrincipal', :remitente_fk,(Select idCuenta from cuenta where fk_user = :tipoCuentaVar))]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	monto : vars.monto,
	tipoCuentaVar: vars.idUser,
	remitente_fk: vars.lastGenerate,
	fecha: vars.fecha,
	hora : vars.hora,
}]]]></db:input-parameters>
				</db:insert>
				<db:update doc:name="Copy_of_Update" doc:id="cd3dea9c-76d0-4515-b070-5179c162ae07" config-ref="Database_Config1" transactionalAction="NOT_SUPPORTED" >
					<db:sql ><![CDATA[Update cuenta SET monto = monto-:monto22 WHERE fk_user = :tipoCuentaVar;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	tipoCuentaVar: vars.idUser,
	monto22 : vars.monto
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="91986875-1c9f-448e-90d0-e514460fd872" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:update doc:name="Copy_of_Update" doc:id="e342f55c-0965-4810-b9a8-9bd34578e12d" config-ref="moscu">
					<db:sql><![CDATA[Update cuenta SET monto = monto+:montos WHERE numeroCuenta = :numeroCuenta;]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	numeroCuenta:vars.numeroCuenta,
	montos : vars.monto
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Copy_of_Transform Message" doc:id="6506eb95-2939-4c05-bb95-5855003ea1a2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
</when>
<when expression="payload.receptor.nombreInstitucion == &quot;'BELAGROPROMBANK' JSC&quot;">
				<set-variable value="#[payload.monto]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="b4f8acd5-98b2-42e4-b980-7744047c2e6e" variableName="monto" />
				<set-variable value="#[payload.receptor]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="22072315-e7c9-4927-903e-18cdc6752df6" variableName="idCuenta" />
				<set-variable value="#[payload.fecha]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="094bd230-5b09-4d79-b57b-a5dc97905e5d" variableName="fecha" />
				<set-variable value="#[payload.hora]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="3a02ed06-4389-436e-b63a-0809aaf5bc44" variableName="hora" />
				<set-variable value="#[payload.cuenta.usuario.idUsuario]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="d8620dfd-5fde-4a78-b43e-5b3ebf9090ab" variableName="idUser" />
				<set-variable value="#[payload.receptor.numeroCuenta]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="b4433614-c31a-4efa-8cfa-61aa41b6aca7" variableName="numeroCuenta" />
				<db:insert doc:name="Copy_of_Copy_of_Insert" doc:id="58560bf4-8de0-4914-ace8-9c8ae6ddaef6" config-ref="Database_Config1" autoGenerateKeys="true" >
					<db:sql ><![CDATA[INSERT INTO informacionremitente(nombreInstitucion,tipoCuenta,numeroDocumento,numeroCuenta,nombre,correo)
VALUES (:nombreInstitucion,:tipoCuenta,:numeroDocumento,:numeroCuenta,:nombre,:correo)
]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	nombreInstitucion : payload.receptor.nombreInstitucion,
	tipoCuenta:payload.receptor.tipoCuenta,
	numeroDocumento:payload.receptor.numeroDocumento,
	numeroCuenta:payload.receptor.numeroCuenta,
	nombre:payload.receptor.nombre,
	correo:payload.receptor.correo
}]]]></db:input-parameters>
				</db:insert>
				<set-variable value="#[payload.generatedKeys[0]]" doc:name="Copy_of_Copy_of_Set Variable" doc:id="a465a1e4-e2e8-4dac-b865-7597eb99a6c0" variableName="lastGenerate" />
				<db:insert doc:name="Copy_of_Copy_of_Insert" doc:id="0ec6f556-09ad-41ba-9582-0e59996dfb9f" config-ref="Database_Config1" >
					<db:sql ><![CDATA[INSERT INTO transaccion(fecha, hora, monto,nombrebancoRemitente, fk_remitente,fk_cuenta)
VALUES (:fecha,:hora,:monto, 'BancoPrincipal', :remitente_fk,(Select idCuenta from cuenta where fk_user = :tipoCuentaVar))]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	monto : vars.monto,
	tipoCuentaVar: vars.idUser,
	remitente_fk: vars.lastGenerate,
	fecha: vars.fecha,
	hora : vars.hora,
}]]]></db:input-parameters>
				</db:insert>
				<db:update doc:name="Copy_of_Copy_of_Update" doc:id="c5ddea9e-22c9-435a-bf8e-43a812f67fa1" config-ref="Database_Config1" transactionalAction="NOT_SUPPORTED" >
					<db:sql ><![CDATA[Update cuenta SET monto = monto-:monto22 WHERE fk_user = :tipoCuentaVar;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	tipoCuentaVar: vars.idUser,
	monto22 : vars.monto
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Copy_of_Copy_of_Transform Message" doc:id="d024fce6-f720-43d5-b8e5-1457bc9e6031" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<db:update doc:name="Update" doc:id="588adf02-601d-47e1-8520-0d35b140d06c" config-ref="banco3">
					<db:sql ><![CDATA[Update cuenta SET monto = monto+:montos WHERE numeroCuenta = :numeroCuenta;]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	numeroCuenta:vars.numeroCuenta,
	montos : vars.monto
}]]]></db:input-parameters>
				</db:update>
				<ee:transform doc:name="Transform Message" doc:id="0412b9a7-62ae-4679-8c1f-2ae7b7201bf1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>

</when>
			
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="954b7fb4-7aae-43e4-8d39-fd8184301777" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	idUser: vars.idUser

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="backtransferenciasFlowListarById" doc:id="5856a5e0-c206-4cf7-95c2-838d12b3c008" >
		<http:listener doc:name="ListenerTansferenciasById" doc:id="a96f3025-210a-4ec1-a40a-a3d44ee22d93" config-ref="HTTP_Listener_config" path="/listar_transferencias">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "*",
	"Access-Control-Allow-Headers" : "Content-Type, Accept"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<db:select doc:name="Select" doc:id="7111b446-0279-415e-ae81-ec0c5713ef1e" config-ref="Database_Config1">
			<db:sql ><![CDATA[SELECT fecha, hora, monto, (Select info.nombreInstitucion FROM informacionremitente as info WHERE info.idInformacionRemitente = fk_remitente) as nombreBanco, (Select info.numeroCuenta FROM informacionremitente as info WHERE info.idInformacionRemitente = fk_remitente) as numeroCuenta, (Select info.tipoCuenta FROM informacionremitente as info WHERE info.idInformacionRemitente = fk_remitente) as tipoCuenta , (Select info.nombre FROM informacionremitente as info WHERE info.idInformacionRemitente = fk_remitente) as nombre, (Select info.numeroDocumento FROM informacionremitente as info WHERE info.idInformacionRemitente = fk_remitente) as CI FROM transaccion where fk_cuenta = (Select idCuenta from cuenta where fk_user=:idUser);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"idUser":attributes.queryParams."idUser"}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5328b3fb-c4b2-4c9e-924f-f1b2eb5a88e9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
</mule>
